<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Success</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a> | 
            <a href="/about">About</a> | 
            <a href="/contact">Contact</a> | 
            <a href="/donate">Donate</a>
        </nav>
    </header>
    <header>
        <h1>Thank You for Contacting Cedossa</h1>
    </header>

    <section>
        <p>Your message has been sent successfully! We will get back to you soon.</p>
    </section>

    <footer>
        <p>Thank you for your support!</p>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
